<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UV1_FOLDER" value="C:\Users\theer\Desktop\compact\05_ซอฟต์แวร์\uvinkjet-250702-new" />
    <add key="UV2_FOLDER" value="C:\Users\theer\Desktop\compact\05_ซอฟต์แวร์\uvinkjet-250702-new-uv2" />
    <add key="UV1DB3_PATH" value="C:\Users\theer\Desktop\compact\05_ซอฟต์แวร์\uvinkjet-250702-new\database\sys\CPI.db3" />
    <add key="UV1DB3_PATH_2" value="C:\Users\theer\Desktop\compact\05_ซอฟต์แวร์\uvinkjet-250702-new-uv2\database\sys\CPI.db3" />
  </appSettings>
</configuration>